<component name="ArtifactManager">
  <artifact type="war" name="springMvc-08forad-redirect:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMvc-08forad-redirect</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMvc-08forad-redirect-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMvc-08forad-redirect:war exploded" />
    </root>
  </artifact>
</component>